.Articles {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin-top: 60px;


  h2{
    font-size: 2rem;
    font-weight: 800;
    letter-spacing:0.15rem;
  }

  .subtitle{
    letter-spacing: 0.15rem;
  }

  .Content {
    display: grid;
    grid-template-columns: 60% 40%;

    align-items: center;
    margin-left: 5%;

    span{
      font-weight: 800;
    }
  }
}

@media(max-width:800px){
  .Articles {
    h2{
      font-size: 1.5rem;
      margin:20px 10%;
      text-align: center;
    }
  
    .subtitle{
      letter-spacing: 0.15rem;
    }
  
    .Content {
      display: flex;
      flex-direction: column;
  
      align-items: center;
      margin-left: 10%;
    }
  }
  
}