.TrainingList {
  display: flex;
  justify-content: center;

  padding: 4%;

  .Image {
    min-width: 140px;
  }

  .Content {
    h3 {
      font-weight: 800;
      margin: 8px 0px;
      letter-spacing: 0.15rem;
    }

    p {
      line-height: 1.5rem;
    }
  }
}

@media (max-width: 650px) {
  .TrainingList {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    padding: 5%;
  }
}
@media (max-width: 500px) {
  .TrainingList {
    .Content {
      h3,
      p {
        text-align: center;
      }
    }
  }
}
